<%= form_for(@previa_group) do |f| %>
  <% if @previa_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@previa_group.errors.count, "error") %> prohibited this previa_group from being saved:</h2>

      <ul>
      <% @previa_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row vertical-align">
        <%= f.label :name, "Nombre", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row vertical-align">
        <%= f.label :search_min_age, "Edad mínima", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.number_field :search_min_age, min: 18, max: 90, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row vertical-align">
        <%= f.label :search_max_age, "Edad máxima", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.number_field :search_max_age, min: 18, max: 90, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row vertical-align">
        <%= f.label :search_gender, "Tipo de grupo", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.select :search_gender, PreviaGroup::GENDER_TYPES, {prompt: "Seleccione sexo"}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group row vertical-align">
        <%= f.label :search_distance, "Distancia", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.number_field :search_distance, class: "form-control" %>
        </div>
      </div>
      <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        Guardar
      <% end %>
      </div>
    </div>
  </div>
<% end %>
