<%= form_for(@previa_group) do |f| %>
  <% if @previa_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@previa_group.errors.count, "error") %> prohibited this previa_group from being saved:</h2>

      <ul>
      <% @previa_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row vertical-align">
        <%= f.label :name, "Nombre", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row vertical-align">
        <%= f.label :date, "Fecha", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= date_select("previa_group", "date", :default => Date.today, 
          :order => [:month, :day, :year], :start_year => (Date.today.year - 100), 
          :end_year => Date.today.year, :html_options => {:class => "form-control"}) %>
        </div>
      </div>
      <div class="form-group row vertical-align">
        <%= f.label :active, "Activo", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.check_box :active, {checked: true} %>
        </div>
      </div>
      <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        Guardar
      <% end %>
      </div>
    </div>
  </div>
<% end %>
