<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Mensajes</h2>
  </div>
  <div class="panel-body panel-height">

  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
    <div class="row">
        <div class="conversation-wrap col-lg-4">
            <% @chats.each do |chat| %>
                <div class="media conversation">
                    <a class="pull-left" href="<%= previa_group_chat_path(@previa_group, :chat => chat) %>" >
                        <%= image_tag(chat.with(@previa_group).first.leader.image.thumb.url, :alt => "Imagen de perfil del líder") if chat.with(@previa_group).first.leader.image? %>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading"><%= chat.with(@previa_group).first.name %></h3>
                        <p><%= chat.messages.last.message %></p>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="message-wrap col-lg-8">
            <div class="msg-wrap">
              <% @messages.each do |message| %>
                <div class="media msg ">
                    <div class="pull-left">
                      <%= image_tag(message.author.leader.image.thumb.url, :alt => "Imagen de perfil del líder") if message.author.leader.image? %>
                    </div>
                    <div class="media-body">
                        <p class="pull-right time"><em class="fa fa-clock-o"></em><%= message.created_at.strftime("%d/%m/%Y %H:%M:%S") %></p>
                        <h3 class="media-heading"><%= message.author.name %></h3>
                        <p class="col-lg-10"><%= message.message %></p>
                    </div>
                </div>
                <!-- <div class="alert alert-info msg-date">
                    <strong>Today</strong>
                </div> -->
              <% end %>
            </div>

            <%= form_for :previa_groups, url: url_for( :controller => :previa_groups, :action => :send_message, :method => :post ) do |f| %>
              <%= hidden_field_tag :chat, @messages.first.chat.id %>
              <div class="send-wrap ">
                  <label class="sr-only" for="message">Mensaje</label>
                  <textarea class="form-control send-message" id="message" name="message" rows="3" placeholder="Escribir..."></textarea>
              </div>
              <div>
                <%=tag("input", type: 'submit', class: "col-lg-3 pull-right btn btn-success", value: "Enviar".html_safe, 'aria-label' => 'Enviar') %>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
