<div class="panel panel-primary">
  <div class="panel-heading">Lista de usuarios del grupo <% @previa_group.name %> </div>
  <div class="panel-body">
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

    <table class="table table-bordered" summary="Lista de usuarios que pertenecen a un grupo">
      <thead>
        <tr>
          <th id="columna_foto">Foto</th>
          <th id="columna_nombre">Nombre</th>
          <th id="columna_apellido">Apellido</th>
          <th id="columna_edad">Edad</th>
          <th id="columna_ciudad">Ciudad</th>
          <% if @user == @previa_group.leader%>
          <th id="columna_acciones">Acciones</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @current_users.each do |user| %>
          <tr>
            <td headers="columna_foto"><%= image_tag user.image.thumb.url if user.image?%></td>
            <td headers="columna_nombre"><%= user.first_name %></td>
            <td headers="columna_apellido"><%= user.last_name %></td>
            <td headers="columna_edad"><%= user.age %></td>
            <td headers="columna_ciudad"><%= user.city.name %></td>
            <% if @user == @previa_group.leader and @user != user %>
            <td headers="columna_acciones">
              <%= link_to "<span class='fa fa-close fa-lg' aria-hidden='true'></span> Eliminar".html_safe, previa_group_delete_user_path(@previa_group, :user_id => user.id), method: :post, data: { confirm: '¿Estás seguro?'}, class: "btn btn-danger" %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Atrás', user_groups_path(), class: 'btn btn-info' %>
  </div>
</div>
