<div class="panel panel-primary">
  <div class="panel-heading">Lista de usuarios del grupo <% @previa_group.name %> </div>
  <div class="panel-body">
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Ciudad</th>
        </tr>
      </thead>
      <tbody>
        <% @current_users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.age %></td>
            <td><%= user.city.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Atras', user_groups_path(), class: 'btn btn-primary' %>
  </div>
</div>
