<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Lista de grupos</h1>
  </div>
  <div class="panel-body">
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  
    <table>
      <thead>
        <tr>
          <th id="columna_nombre">Nombre</th>
          <th id="columna_lider">Lider</th>
          <th id="columna_activo">Activo</th>
          <th id="columna_fecha">Fecha</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @previa_groups.each do |previa_group| %>
          <tr>
            <td headers="columna_nombre"><%= previa_group.name %></td>
            <td headers="columna_lider"><%= previa_group.leader.first_name %></td>
            <td headers="columna_activo"><%= previa_group.active %></td>
            <td headers="columna_fecha"><%= previa_group.date %></td>
            <td headers="columna_acciones">
              <%= link_to "<span class='fa fa-navicon fa-lg' aria-hidden='true'></span> Mostrar <span class='sr-only' aria-hidden='true'>grupo #{previa_group.name}</span>".html_safe,previa_group, class: "btn btn-success" %>
              <%= link_to "<span class='fa fa-navicon fa-lg' aria-hidden='true'></span> Editar <span class='sr-only' aria-hidden='true'>grupo #{previa_group.name}</span>".html_safe, edit_previa_group_path(previa_group), class: "btn btn-primary" %>
              <%= link_to "<span class='fa fa-navicon fa-lg' aria-hidden='true'></span> Eliminar <span class='sr-only' aria-hidden='true'>grupo #{previa_group.name}</span>".html_safe, previa_group, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>