<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Lista de usuarios a invitar</h1>
  </div>
  <div class="panel-body">
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

    <figure>
    <table class="table table-bordered" aria-labelledby="tabla-usuarios-invitables">
      <thead>
        <tr>
          <th id="columna_nombre">Nombre</th>
          <th id="columna_apellido">Apellido</th>
          <th id="columna_mail">Mail</th>
          <th id="columna_ciudad">Ciudad</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @invitable_users.each do |user| %>
          <tr>
            <td headers="columna_nombre"><%= user.first_name %></td>
            <td headers="columna_apellido"><%= user.last_name %></td>
            <td headers="columna_mail"><%= user.email %></td>
            <td headers="columna_ciudad"><%= user.city.name %></td>
            <td  headers="columna_acciones">
              <%= link_to "<span class='fa fa-check fa-lg' aria-hidden='true'></span> Invitar".html_safe, previa_group_invite_user_path(@previa_group, :user_id => user.id), method: :post, data: { confirm: '¿Estás seguro?'}, class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <figcaption id="tabla-usuarios-invitables" class="sr-only">
        Lista de usuarios a invitar
      </figcaption>
    </figure>
  </div>
</div>
