<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @previa_group.name %>
</p>

<p>
  <strong>Lider:</strong>
  <%= @previa_group.leader.first_name %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @previa_group.active %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @previa_group.date %>
</p>

<p>
  <strong>Cantidad de usuarios:</strong>
  <%= @previa_group.users.count %>
</p>

<h1>Lista de usuarios para invitar</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>Ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.gender %></td>
        <td><%= user.city.name %></td>
        <td><%= link_to 'Invitar Usuario', previa_group_invite_user_path(@previa_group, :user_id => user.id), method: :post, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Atrás', previa_groups_path %>
