<% if !notice.nil? %>
  <div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Nombre:</strong>
  <%= @previa_group.name %>
</p>

<p>
  <strong>Lider:</strong>
  <%= @previa_group.leader.first_name %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @previa_group.active %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @previa_group.date %>
</p>

<p>
  <strong>Cantidad de usuarios:</strong>
  <%= @previa_group.users.count %>
</p>
