<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @previa_group.name %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @previa_group.leader.first_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @previa_group.active %>
</p>

<p>
  <strong>Date:</strong>
  <%= @previa_group.date %>
</p>

<p>
  <strong>Users count:</strong>
  <%= @previa_group.users.count %>
</p>

<h1>Listing Users to Invite</h1>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.gender %></td>
        <td><%= user.city.name %></td>
        <td><%= link_to 'Invite User', previa_group_invite_user_path(@previa_group, :user_id => user.id), method: :post, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', previa_groups_path %>
