<%= form_for @user , html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-md-6">
      <% if @user.errors[:image].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <p style="font-weight: bold;">Foto</p>
        </div>
        <div class="col-xs-4">
          <%= f.label :image, class: " btn btn-primary btn-file" do %>
          Seleccionar 
          <% end %>
          <%= f.file_field :image, { :style =>"display: none;"} %>
        </div>
        <div class="col-xs-3">
          <%= image_tag(@user.image.thumb.url, :alt => "Imagen de perfil") if @user.image? %>
        </div>
      </div>
      <div class="form-group row vertical-align">
        <div class="col-xs-9 col-xs-offset-3">
          <% if @user.errors[:image].any? %>
          <%= @user.errors[:image].first %>
          <% end %>
        </div>
      </div>

      <% if @user.errors[:first_name].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <%= f.label :first_name, "Nombre" %>
        </div>
        <div class="col-xs-9">
          <%= f.text_field :first_name, class: "form-control" %>
          <% if @user.errors[:first_name].any? %>
          <%= @user.errors[:first_name].first %>
          <% end %>
        </div>
      </div>

      <% if @user.errors[:last_name].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <%= f.label :last_name, "Apellido" %>
        </div>
        <div class="col-xs-9">
          <%= f.text_field :last_name, class: "form-control" %>
          <% if @user.errors[:last_name].any? %>
          <%= @user.errors[:last_name].first %>
          <% end %>
        </div>
      </div>

      <div class="form-group row vertical-align">
        <%= f.label :birth_date_3i, "Fecha de nacimiento", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <label class="sr-only" for="user_birth_date_3i">Día</label>
          <label class="sr-only" for="user_birth_date_2i">Mes</label>
          <label class="sr-only" for="user_birth_date_1i">Año</label>

          <%= date_select("user", "birth_date", :default => Date.today, 
          :order => [:day, :month, :year], :start_year => (Date.today.year - 100), 
          :end_year => Date.today.year, :html_options => {:class => "form-control"}) %>
        </div>
      </div>

      <% if @user.errors[:email].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <%= f.label :email, "Mail" %>
        </div>
        <div class="col-xs-9">
          <%= f.email_field :email, class: "form-control" %>
          <% if @user.errors[:email].any? %>
          <%= @user.errors[:email].first %>
          <% end %>
        </div>
      </div>

      <% if @user.errors[:email_confirmation].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <%= f.label :email_confirmation, "Confirmar mail" %>
        </div>
        <div class="col-xs-9">
          <%= f.email_field :email_confirmation, class: "form-control" %>
          <% if @user.errors[:email_confirmation].any? %>
          <%= @user.errors[:email_confirmation].first %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <% if @user.errors[:pass].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <%= f.label :pass, "Clave" %>
        </div>
        <div class="col-xs-9">
          <%= f.password_field :pass, class: "form-control" %>
          <% if @user.errors[:pass].any? %>
          <%= @user.errors[:pass].first %>
          <% end %>
        </div>
      </div>

      <% if @user.errors[:pass_confirmation].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <%= f.label :pass_confirmation, "Confirmar clave" %>
        </div>
        <div class="col-xs-9">
          <%= f.password_field :pass_confirmation, class: "form-control" %>
          <% if @user.errors[:pass_confirmation].any? %>
          <%= @user.errors[:pass_confirmation].first %>
          <% end %>
        </div>
      </div>

      <% if @user.errors[:gender].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <%= f.label :gender, "Sexo" %>
        </div>
        <div class="col-xs-9">
          <%= f.select :gender, User::GENDER_TYPES, {prompt: "Seleccione sexo"}, {class: "form-control"} %>
          <% if @user.errors[:gender].any? %>
          <%= @user.errors[:gender].first %>
          <% end %>
        </div>
      </div>

      <% if @user.errors[:city].any? %>
      <div class="form-group row vertical-align has-error">
      <% else %>
      <div class="form-group row vertical-align">
      <% end %>
        <div class="col-xs-3 col-form-label">
          <%= f.label :city_id, "Ciudad" %>
        </div>
        <div class="col-xs-9">
          <%= f.collection_select :city_id, City.all, :id, :name, {prompt: "Seleccione ciudad"}, {class: "form-control"} %>
          <% if @user.errors[:city].any? %>
          <%= @user.errors[:city].first %>
          <% end %>
        </div>
      </div>
      <div class="actions">
      <%=tag("input", type: 'submit', class: "btn btn-primary", value: "Guardar", 'aria-label' => 'Guardar') %>
      </div>
    </div>
  </div>
<% end %>
