<div class="panel panel-primary">
  <div class="panel-heading">Lista grupos</div>
  <div class="panel-body">

  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

    <table class="table table-bordered" summary="Lista de los grupos a las que pertenece el usuario">
      <thead>
        <tr>
          <th id="columna_nombre">Nombre</th>
          <th id="columna_lider">Lider</th>
          <th id="columna_activo">Activo</th>
          <th id="columna_fecha">Fecha</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @user.previa_groups.each do |previa_group| %>
          <tr>
            <td headers="columna_nombre"><%= previa_group.name %></td>
            <td headers="columna_lider"><%= previa_group.leader.first_name %></td>
            <td headers="columna_activo">
              <% if previa_group.active %>
              Si
              <% else %>
              No
              <% end %>
            </td>
            <td headers="columna_fecha"><%= previa_group.date %></td>
            <td headers="columna_acciones">
              <%= link_to "<span class='fa fa-close fa-lg' aria-hidden='true'></span> Abandonar".html_safe, user_leave_group_path(previa_group),  class: "btn btn-danger", method: :post, data: { confirm: '¿Estás seguro?' } %>
              <%= link_to "<span class='fa fa-navicon fa-lg' aria-hidden='true'></span> Integrantes".html_safe, previa_group_current_users_path(previa_group), class: "btn btn-primary" %>
              <% if previa_group.active and previa_group.leader == @user %> 
              <%= link_to "<span class='fa fa-filter fa-lg' aria-hidden='true'></span> Buscar grupos".html_safe, previa_group_search_previa_groups_path(previa_group), class: "btn btn-info" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Nuevo grupo', new_previa_group_path(@user), class: 'btn btn-primary' %>
  </div>
</div>
