<div class="panel panel-primary">
  <div class="panel-heading">Lista de usuarios</div>
  <div class="panel-body">

    <p id="notice"><%= notice %></p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Mail</th>
          <th>Clave</th>
          <th>Fecha de nacimiento</th>
          <th>Sexo</th>
          <th>Ciudad</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.pass %></td>
            <td><%= user.birth_date %></td>
            <td><%= user.gender %></td>
            <td><%= user.city.name %></td>
            <td>
              <span class="fa fa-navicon fa-lg"> <%= link_to 'Mostrar', user %> </span>
              <span class="fa fa-edit fa-lg"> <%= link_to 'Editar', edit_user_path(user) %> </span>
              <span class="fa fa-trash fa-lg"> <%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estas seguro?' } %> </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Nuevo usuario', new_user_path, class: 'btn btn-primary' %>
  </div>
</div>
