<% if !notice.nil? %>
  <div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Lista de invitaciones a grupos de <%= @user.first_name %></h1>
  </div>
  <div class="panel-body">
    
    <table class="table table-bordered" summary="Lista de las invitaciones a grupos que recibio el usuario">
      <thead>
        <tr>
          <th id="columna_grupo">Grupo</th>
          <th id="columna_lider">Lider</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @user.invitations.each do |invitation| %>
          <tr>
            <td headers="columna_grupo"><%= invitation.name %></td>
            <td headers="columna_lider"><%= invitation.leader.first_name %></td>
            <td headers="columna_acciones">
              <%= link_to "<span class='fa fa-check fa-lg' aria-hidden='true'></span> Aceptar".html_safe, user_accept_invitation_path(@user, :invitation_id => invitation.id), method: :post, data: { confirm: '¿Estás seguro?'}, class: "btn btn-success" %>
              <%= link_to "<span class='fa fa-close fa-lg' aria-hidden='true'></span> Rechazar".html_safe, user_reject_invitation_path(@user, :invitation_id => invitation.id), method: :post, data: { confirm: '¿Estás seguro?'}, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>