<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">Lista de invitaciones de <%= @user.first_name %></div>
  <div class="panel-body">
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Grupo</th>
          <th>Lider</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @user.invitations.each do |invitation| %>
          <tr>
            <td><%= invitation.name %></td>
            <td><%= invitation.leader.first_name %></td>
            <td>
              <span class="fa fa-navicon fa-lg"> <%= link_to 'Aceptar', user_accept_invitation_path(@user, :invitation_id => invitation.id), method: :post, data: { confirm: '¿Estás seguro?'} %> </span>                
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
