<p id="notice"><%= notice %></p>

<h1>Listing Invitations for User <%= @user.first_name %></h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Leader</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.group.name %></td>
        <td><%= invitation.group.leader.name %></td>
        <td><%= invitation.date %></td>
        <td><%= link_to 'Accept', user_accept_invitation_path(@user, :invitation_id => invitation.id), method: :post, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
