<div class="panel panel-primary">
  <div class="panel-heading">Lista de invitaciones a previa de grupos</div>
  <div class="panel-body">
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Grupo</th>
          <th>Lider</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @previa_invitations.each do |invitation| %>
          <tr>
            <td><%= invitation.inviting_group.name %></td>
            <td><%= invitation.inviting_group.leader.first_name %></td>
            <td> 
              <%= link_to "<span class='fa fa-check fa-lg' aria-hidden='true'></span> Aceptar".html_safe, previa_group_accept_previa_invitation_path(@invitation, :invitation_id => invitation.id), method: :post, data: { confirm: '¿Estás seguro?'}, class: "btn btn-success" %>
              <%= link_to "<span class='fa fa-close fa-lg' aria-hidden='true'></span> Rechazar".html_safe, previa_group_reject_previa_invitation_path(@invitation, :invitation_id => invitation.id), method: :post, data: { confirm: '¿Estás seguro?'}, class: "btn btn-danger" %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>