<div class="panel panel-primary">
  <div class="panel-heading">Lista de invitaciones a previa de grupos de <%= @user.first_name %></div>
  <div class="panel-body">
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
    
    <table class="table table-bordered" summary="Lista de las invitaciones a previas que recibio el lider">
      <thead>
        <tr>
          <th id="columna_grupo">Grupo</th>
          <th id="columna_grupo_invitado">Grupo invitado</th>
          <th id="columna_lider">Lider</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @previa_invitations.each do |invitation| %>
          <tr>
            <td headers="columna_grupo"><%= invitation.inviting_group.name %></td>
            <td headers="columna_grupo_invitado"><%= invitation.invited_group.name %></td>
            <td headers="columna_lider"><%= invitation.inviting_group.leader.first_name %></td>
            <td headers="columna_acciones">
              <%= link_to "<span class='fa fa-navicon fa-lg' aria-hidden='true'></span> Aceptar".html_safe,previa_group_accept_previa_invitation_path(invitation.invited_group, :previa_invitation_id => invitation.id), method: :post, data: { confirm: '¿Estás seguro?'}, class: "btn btn-info" %>
              <%= link_to "<span class='fa fa-check fa-lg' aria-hidden='true'></span> Rechazar".html_safe,previa_group_reject_previa_invitation_path(invitation.invited_group, :previa_invitation_id => invitation.id), method: :post, data: { confirm: '¿Estás seguro?' }, class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>