<!DOCTYPE html>
<html lang="es">
<head>
  <title>PintaPrevia</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Pinta Previa">
  <meta name="author" content="Emiliano Gianetto">
    

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link href="/assets/images/favicon.ico" rel="shortcut icon" /> -->
  <!-- <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
  <%= favicon_link_tag %>
</head>
<body style="padding-top: 0px">
  <header class="navbar-inverse navbar-static-top" id=top>
    <% if session[:current_user_id].nil? %>
      <%= render "partials/topnav_login" %>
    <% else %>
      <%= render "partials/topnav_logout" %>
    <% end %>
  </header>
  
  <div class="container-fluid">
    <div class="row">

      <% if false and !session[:current_user_id].nil? %>
        <div class="col-sm-3">
        <% if session[:current_user_admin].nil? %>
          <%= render "partials/sidenav_user" %>
        <% else %>
          <%= render "partials/sidenav_admin" %>
        <% end %>
        </div>
        <div class="col-sm-9 col-sm-offset-3 main">
          <%= yield %>
        </div>
      <% else %>
        <div class="col-md-8 col-md-offset-2 main">
          <%= yield %>
        </div>
      <% end %>

    </div>
    <% if false %>
      <%= render "partials/footer" %>
    <% end %>
  </div>
</body>
</html>
